# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: whole numbers, no quotes or nothin

Strings: any characters inside single or double quotes

Lists: any data type inside square brackets, separated by commas, mutable, ordered

Tuples: any data type inside regular parentheses, immutable, ordered

Dictionaries: key value pairs of any data type inside curly brackets, separated by commas, paired with a colon, un-ordered

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [6]:
(2*5) + (160/2) + (120%109) - 0.75

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    44
    
    What is the value of the expression 4 * 6 + 5 
    29
    
    What is the value of the expression 4 + 6 * 5 
    50

In [8]:
a = 4*(6+5)
b = 4*6+5
c = 4+6*5
print(a, b, c)

44 29 34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>
float

What would you use to find a numberâ€™s square root, as well as its square? 

do math

In [67]:
# Square root:
import math
n = 16
nsqrt = math.sqrt(n)
print(nsqrt)

4.0

In [68]:
n = 16
nsqrt = n ** 0.5
print(nsqrt)

4.0

In [22]:
# Square:
n = 4
nsquare = 4**2
print(nsquare)

16

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [23]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

Reverse the string 'hello' using slicing:

In [24]:
s ='hello'
# Reverse the string using slicing
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [27]:
s ='hello'
# Print out the 'o'

# Method 1:
print(s[4])

o

In [28]:
# Method 2:
print(s[-1])

o

## Lists

Build this list [0,0,0] two separate ways.

In [30]:
# Method 1:
l = [0,0,0]
print(l)

[0, 0, 0]

In [69]:
# Method 2:
ltwo = [0,0]
ltwo.append(0)
print(ltwo)

[0, 0, 0]

In [70]:
[0]*3

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [36]:
list3 = [1,2,[3,4,'hello']]
list3[2][2] = 'goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [71]:
list4 = [5,3,4,6,1]
list4.sort()
list4

[1, 3, 4, 5, 6]

In [72]:
sorted(list4)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [39]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [40]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [73]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [74]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br>

no, because it's organized in key-value pairs (mappings, not a sequence)

## Tuples

What is the major difference between tuples and lists?<br><br>

tuples are immutable

How do you create a tuple?<br><br>

t = ('a', 'tuple')

## Sets

What is unique about a set?<br><br>

sets can only have uniques

Use a set to find the unique values of the list below:

In [56]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [61]:
# Answer before running cell
2 > 3

False

In [62]:
# Answer before running cell
3 <= 2

False

In [63]:
# Answer before running cell
3 == 2.0

False

In [64]:
# Answer before running cell
3.0 == 3

True

In [65]:
# Answer before running cell
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [66]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!