# 11. Numbers

In [1]:
2+1

3

In [2]:
2-1

1

In [4]:
2*2

4

In [5]:
3/2

1.5

In [6]:
7/4

1.75

In [7]:
7%4

3

In [8]:
50%5

0

In [9]:
23%2

1

In [10]:
2**3

8

In [11]:
2+10*10+3

105

In [12]:
(2+10)*(10+3)

156

# 13. Variable Assignments

In [14]:
a = 5

In [15]:
a

5

In [16]:
a = 10

In [17]:
a

10

In [18]:
a + a

20

In [25]:
a = a + a

In [26]:
a

160

In [27]:
type(a)

int

In [28]:
a + 30.1

190.1

In [29]:
type(a)

int

In [31]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [32]:
my_taxes

10.0

# 14. Strings

In [33]:
'hello'

'hello'

In [34]:
"world"

'world'

In [35]:
'this is also a string'

'this is also a string'

In [36]:
"I'm going on a run"

"I'm going on a run"

In [37]:
print("hello")

hello

In [38]:
"hello world one"
"hello world two"

'hello world two'

In [39]:
print("hello world one")
print("hello world two")

hello world one
hello world two

In [40]:
print("hello \n world")

hello
 world

In [41]:
print("hello \nworld")

hello
world

In [42]:
print("hello \tworld")

hello 	world

In [43]:
len("hello")

5

In [44]:
len("I am")

4

# 15. String Indexing and Slicing

In [45]:
mystring = "Hello World"

In [46]:
mystring

'Hello World'

In [47]:
mystring[0]

'H'

In [48]:
mystring[8]

'r'

In [49]:
mystring[9]

'l'

In [50]:
mystring[-2]

'l'

In [51]:
mystring[-3]

'r'

In [52]:
mystring[-1]

'd'

In [53]:
mystring

'Hello World'

In [54]:
mystring = "abcdefghijk"

In [55]:
mystring

'abcdefghijk'

In [56]:
mystring[2:]

'cdefghijk'

In [57]:
mystring[:3]

'abc'

In [58]:
mystring[3:6]

'def'

In [59]:
mystring[1:3]

'bc'

In [60]:
mystring[::2]

'acegik'

In [61]:
mystring[::3]

'adgj'

In [62]:
mystring[2:7:2]

'ceg'

In [63]:
mystring[::-1]

'kjihgfedcba'

# 16. String Properties and Methods

In [64]:
name = "Sam"

In [65]:
# name[0] = "P" doesn't work because strings are immutable in Python

In [66]:
last_letters = name[1:]

In [67]:
last_letters

'am'

In [68]:
"P" + last_letters

'Pam'

In [69]:
x = "Hello World"

In [70]:
x = x = "it is beautiful outside!"

In [71]:
x

'it is beautiful outside!'

In [72]:
letter = "z"

In [73]:
letter * 10

'zzzzzzzzzz'

In [74]:
2 + 3

5

In [75]:
"2" + "3"

'23'

In [76]:
x = "Hello World"

In [77]:
x.upper()

'HELLO WORLD'

In [78]:
x

'Hello World'

In [79]:
x.upper

In [80]:
x.lower()

'hello world'

In [81]:
x.split()

['Hello', 'World']

In [82]:
x = "Hi this is a string"

In [83]:
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [84]:
x.split("i")

['H', ' th', 's ', 's a str', 'ng']

In [85]:
print("hello")

hello

# 18. Print Formatting Strings

In [86]:
print("This is a string {}".format("INSERTED"))

This is a string INSERTED

In [87]:
print("The {} {} {}".format("fox", "brown", "quick"))

The fox brown quick

In [88]:
print("The {2} {1} {0}".format("fox", "brown", "quick"))

The quick brown fox

In [89]:
print("The {0} {0} {0}".format("fox", "brown", "quick"))

The fox fox fox

In [90]:
print("The {q} {b} {f}".format(f="fox",b="brown",q="quick"))

The quick brown fox

In [91]:
print("The {f} {f} {f}".format(f="fox",b="brown",q="quick"))

The fox fox fox

In [92]:
result = 100/777

In [93]:
result

0.1287001287001287

In [94]:
print("The result was {}".format(result))

The result was 0.1287001287001287

In [95]:
print("The result was {r}".format(r=result))

The result was 0.1287001287001287

In [96]:
print("The result was {r:1.3f}".format(r=result))

The result was 0.129

In [97]:
print("The result was {r:10.3f}".format(r=result))

The result was      0.129

In [98]:
print("The result was {r:10.5f}".format(r=result))

The result was    0.12870

In [99]:
print("The result was {r:1.5f}".format(r=result))

The result was 0.12870

In [100]:
result = 104.12345

In [101]:
print("The result was {r:1.5f}".format(r=result))

The result was 104.12345

In [102]:
print("The result was {r:1.2f}".format(r=result))

The result was 104.12

In [103]:
name = "Jose"

In [104]:
print("Hello, his name is {}".format(name))

Hello, his name is Jose

In [105]:
print(f"Hello, his name is {name}")

Hello, his name is Jose

In [106]:
name = "Sam"
age = 3

In [107]:
print(f"{name} is {age} years old.")

Sam is 3 years old.

# 20. Lists in Python

In [108]:
my_list = [1,2,3]

In [109]:
my_list = ["STRING",100,23.2]

In [110]:
len(my_list)

3

In [111]:
mylist = ["one", "two", "three"]

In [112]:
mylist[0]

'one'

In [113]:
mylist[1:]

['two', 'three']

In [114]:
mylist

['one', 'two', 'three']

In [115]:
another_list = ["four", "five"]

In [116]:
mylist + another_list

['one', 'two', 'three', 'four', 'five']

In [117]:
mylist

['one', 'two', 'three']

In [118]:
another_list

['four', 'five']

In [119]:
new_list = mylist + another_list

In [120]:
new_list

['one', 'two', 'three', 'four', 'five']

In [121]:
new_list[0] = "ONE ALL CAPS"

In [122]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [123]:
new_list.append("six")

In [124]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [125]:
new_list.append("seven")

In [126]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [127]:
new_list.pop()

'seven'

In [128]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [129]:
popped_item = new_list.pop()

In [130]:
popped_item

'six'

In [131]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [132]:
new_list.pop(0)

'ONE ALL CAPS'

In [133]:
new_list

['two', 'three', 'four', 'five']

In [134]:
new_list = ["a", "e", "x", "b", "c"]
num_list = [4,1,8,3]

In [135]:
new_list.sort()

In [136]:
new_list

['a', 'b', 'c', 'e', 'x']

In [137]:
my_sorted_list = new_list.sort()

In [138]:
type(my_sorted_list)

NoneType

In [140]:
new_list.sort()
my_sorted_list = new_list

In [141]:
my_sorted_list

['a', 'b', 'c', 'e', 'x']

In [142]:
num_list

[4, 1, 8, 3]

In [143]:
num_list.sort()

In [144]:
num_list

[1, 3, 4, 8]

In [145]:
num_list.reverse()

In [146]:
num_list

[8, 4, 3, 1]

# 22. Dictionaries

In [1]:
my_dict = {'key1':'value1','key2':'value2'}

In [2]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [3]:
my_dict['key1']

'value1'

In [4]:
prices_lookup = {'apple':2.99,'oranges':1.99,'milk':5.80}

In [5]:
prices_lookup['apple']

2.99

In [6]:
d = {'k1':123,'k2':[0,1,2],'k3':{'insideKey':100}}

In [7]:
d['k2']

[0, 1, 2]

In [8]:
d['k3']['insideKey']

100

In [9]:
d['k2'][2]

2

In [10]:
d = {'key1':['a', 'b', 'c']}

In [11]:
mylist = d['key1']

In [12]:
mylist

['a', 'b', 'c']

In [13]:
letter = mylist[2]

In [14]:
letter

'c'

In [15]:
letter.upper()

'C'

In [16]:
d

{'key1': ['a', 'b', 'c']}

In [17]:
d['key1'][2].upper()

'C'

In [18]:
d = {'k1':100,'k2':200}

In [19]:
d

{'k1': 100, 'k2': 200}

In [20]:
d['k3'] = 300

In [21]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [22]:
d['k1'] = 'NEW VALUE'

In [23]:
d

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [24]:
d = {'k1':100,'k2':200}

In [25]:
d.keys()

dict_keys(['k1', 'k2'])

In [26]:
d.values()

dict_values([100, 200])

In [27]:
d.items()

dict_items([('k1', 100), ('k2', 200)])

# 24. Tuples

In [28]:
t = (1,2,3)

In [29]:
mylist = [1,2,3]

In [30]:
type(t)

tuple

In [31]:
type(mylist)

list

In [32]:
len(t)

3

In [33]:
t

(1, 2, 3)

In [34]:
t = ('one',2)

In [35]:
t[0]

'one'

In [36]:
t[-1]

2

In [37]:
t = ('a','a','b')

In [38]:
t.count('a')

2

In [39]:
t.index('a')

0

In [40]:
t.index('b')

2

In [41]:
t

('a', 'a', 'b')

In [42]:
mylist

[1, 2, 3]

In [43]:
mylist[0] = 'NEW'

In [44]:
mylist

['NEW', 2, 3]

In [45]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

# 25. Sets

In [46]:
myset = set()

In [47]:
myset

set()

In [48]:
myset.add(1)

In [49]:
myset

{1}

In [50]:
myset.add(2)

In [51]:
myset

{1, 2}

In [52]:
myset.add(2)

In [53]:
myset

{1, 2}

In [54]:
mylist = [1,1,1,1,1,1,2,2,2,2,3,3,3,3]

In [55]:
set(mylist)

{1, 2, 3}

# 26. Booleans

In [56]:
True

True

In [57]:
true

NameError: name 'true' is not defined

In [58]:
False

False

In [59]:
type(False)

bool

In [60]:
1 > 2

False

In [61]:
1 == 1

True

In [62]:
b = None

In [63]:
b

# 27. Files

In [65]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [66]:
#this only works in Jupyter notebooks

In [67]:
myfile = open('myfile.txt')

In [68]:
myfile = open('whoops_wrong.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'whoops_wrong.txt'

In [69]:
pwd

'/Users/kathryn/Documents/ZeroToHero'

In [70]:
myfile = open('myfile.txt')

In [71]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [72]:
myfile.read()

''

In [73]:
myfile.seek(0)

0

In [74]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [75]:
myfile.seek(0)

0

In [76]:
contents = myfile.read()

In [77]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [78]:
myfile.seek(0)

0

In [79]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [80]:
pwd

'/Users/kathryn/Documents/ZeroToHero'

In [81]:
myfile.close()

In [82]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [83]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [84]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Writing my_new_file.txt

In [85]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [86]:
with open('my_new_file.txt',mode='a') as f:
    f.write('FOUR ON FOURTH')

In [87]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

In [88]:
with open('dasdfaka.txt',mode='w') as f:
    f.write('I CREATED THIS FILE!')

In [89]:
with open('dasdfaka.txt',mode='r') as f:
    print(f.read())

I CREATED THIS FILE!

# 31. Python Comparison Operators

In [1]:
2 == 2

True

In [2]:
2 == 1

False

In [3]:
'hello' == 'bye'

False

In [4]:
'Bye' == 'bye'

False

In [5]:
'2' == 2

False

In [6]:
3 != 3

False

In [7]:
4 != 5

True

In [8]:
2 > 1

True

In [9]:
1 < 2

True

In [10]:
2 >= 2

True

In [11]:
4 <= 1

False

# 32. Chaining Comparison Operators

In [12]:
1 < 2

True

In [13]:
2 < 3

True

In [14]:
1 < 2 < 3

True

In [15]:
1 < 2 > 3

False

In [16]:
1 < 2 and 2 > 3

False

In [17]:
1 < 2 and 2 < 3

True

In [18]:
'h' == 'h' and 2 == 2

True

In [19]:
('h' == 'h') and (2 == 2)

True

In [20]:
1 == 1 or 2 == 2

True

In [21]:
100 == 1 or 2 == 2

True

In [22]:
100 == 1 or 2 == 200

False

In [23]:
1 == 1

True

In [24]:
not(1 == 1)

False

In [25]:
not 1 == 1

False

In [26]:
400 > 5000

False

In [27]:
not 400 > 5000

True

# 33. If Elif and Else

In [28]:
if True:
    print('ITS TRUE')

ITS TRUE

In [29]:
if 3>2:
    print('it true')

it true

In [30]:
hungry = True
if hungry:
    print('FEED ME')

FEED ME

In [31]:
hungry = False
if hungry:
    print('FEED ME')
else:
    print('im good')

im good

In [32]:
hungry = True
if hungry:
    print('FEED ME')
else:
    print('im good')

FEED ME

In [33]:
loc = 'Bank'
if loc == 'Auto Shop':
    print('Cars are cool')
else:
    print('I do not know much.')

I do not know much.

In [35]:
loc = 'Bank'
if loc == 'Auto Shop':
    print('Cars are cool')
elif loc == 'Bank':
    print('Money is cool')
elif loc == 'Store':
    print('Welcome to the store!')
else:
    print('I do not know much.')

Money is cool

In [36]:
loc = 'Auto Shop'
if loc == 'Auto Shop':
    print('Cars are cool')
elif loc == 'Bank':
    print('Money is cool')
elif loc == 'Store':
    print('Welcome to the store!')
else:
    print('I do not know much.')

Cars are cool

In [37]:
loc = 'Store'
if loc == 'Auto Shop':
    print('Cars are cool')
elif loc == 'Bank':
    print('Money is cool')
elif loc == 'Store':
    print('Welcome to the store!')
else:
    print('I do not know much.')

Welcome to the store!

In [39]:
name = 'Sammy'

if name == 'Frankie':
    print('Hello Frankie!')
elif name == 'Sammy':
    print('Hello Sammy!')
else:
    print('What is your name?')

Hello Sammy!

# 34. For Loops

In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [2]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [3]:
for jelly in mylist:
    print(jelly)

1
2
3
4
5
6
7
8
9
10

In [5]:
for jelly in mylist:
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [7]:
for num in mylist:
    # Check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [9]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num

print(list_sum)

55

In [10]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [11]:
mystring = "Hello World"

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [13]:
for letter in "Hello World":
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [14]:
for ghghg in "Hello World":
    print(ghghg)

H
e
l
l
o

W
o
r
l
d

In [15]:
for _ in "Hello World":
    print("Cool!")

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [16]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [17]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [18]:
len(mylist)

4

In [19]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [20]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [21]:
for (a,b) in mylist:
    print(a)

1
3
5
7

In [22]:
for a,b in mylist:
    print(a)

1
3
5
7

In [23]:
for a,b in mylist:
    print(b)

2
4
6
8

In [24]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [25]:
for item in mylist:
    print(item)

(1, 2, 3)
(5, 6, 7)
(8, 9, 10)

In [26]:
for a,b,c in mylist:
    print(b)

2
6
9

In [27]:
d = {'k1':1,'k2':2,'k3':3}

for item in d:
    print(item)

k1
k2
k3

In [28]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [29]:
for key,value in d.items():
    print(value)

1
2
3

In [30]:
for value in d.values():
    print(value)

1
2
3

# 35. While loops

In [4]:
x = 50

while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print("X IS NOT LESS THAN 5")

X IS NOT LESS THAN 5

In [5]:
x = [1,2,3]

for item in x:
    # comment
    pass
    # pass lets me keep this empty without causing an 
    # error

print('end of my script')

end of my script

In [7]:
mystring = 'Sammy'

for letter in mystring:
    if letter == 'a':
        continue
        # continue goes to the top of the closest 
        # enclosing loop and keeps going
    print(letter)

S
m
m
y

In [8]:
for letter in mystring:
    if letter == 'a':
        break
        # breaks the loop
    print(letter)

S

In [10]:
x = 0

while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

# 36. Useful operators

In [11]:
mylist = [1,2,3]

In [12]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [13]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [15]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [16]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [18]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [22]:
word = 'abcde'
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [23]:
mylist1 = [1,2,3]
mylist2 = ['a', 'b','c']

In [24]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [25]:
mylist1 = [1,2,3]
mylist2 = ['a', 'b','c']
mylist3 = [100,200,300]
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [26]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a', 'b','c']
mylist3 = [100,200,300]
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [27]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [29]:
for a,b,c in zip(mylist1,mylist2,mylist3):
    print(b)

a
b
c

In [30]:
'x' in [1,2,3]

False

In [31]:
'x' in ['x','y','z']

True

In [32]:
'a' in 'a world'

True

In [33]:
'mykey' in {'mykey':345}

True

In [34]:
d = {'mykey':345}
345 in d.values()

True

In [35]:
d = {'mykey':345}
345 in d.keys()

False

In [36]:
mylist = [10,20,30,40,100]

In [37]:
min(mylist)

10

In [38]:
max(mylist)

100

In [39]:
from random import shuffle

In [40]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [43]:
shuffle(mylist)

In [44]:
mylist

[1, 9, 7, 2, 3, 6, 4, 10, 8, 5]

In [47]:
random_list = shuffle(mylist)

In [48]:
type(random_list)

NoneType

In [49]:
mylist

[4, 7, 1, 6, 2, 10, 8, 3, 9, 5]

In [50]:
from random import randint

In [51]:
randint(0,100)

19

In [52]:
randint(0,100)

89

In [53]:
mynum = randint(0,10)

In [54]:
mynum

7

In [55]:
input('Enter a number here: ')

Enter a number here: 50

'50'

In [56]:
result = input('What is your name? ')

What is your name? Jose

In [57]:
result

'Jose'

In [58]:
result = input('Favorite number: ')

Favorite number: 30

result

In [59]:
type(result)

str

In [60]:
float(result)

30.0

In [61]:
int(result)

30

In [62]:
result

'30'

In [63]:
result = int(input('Favorite Number: '))

Favorite Number: 50

result

In [64]:
type(result)

int

# 37. List comprehensions

In [65]:
mystring = 'hello'

In [66]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [67]:
mylist

['h', 'e', 'l', 'l', 'o']

In [68]:
mylist = [letter for letter in mystring]

In [69]:
mylist

['h', 'e', 'l', 'l', 'o']

In [70]:
mylist = [x for x in 'word']

In [71]:
mylist

['w', 'o', 'r', 'd']

In [72]:
mylist = [asd for asd in 'wordtwo']

In [73]:
mylist

['w', 'o', 'r', 'd', 't', 'w', 'o']

In [74]:
mylist = [x for x in range(0,11)]

In [75]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [77]:
mylist = [num**2 for num in range(0,11)]

In [78]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [81]:
mylist = [x**2 for x in range(0,11) if x%2==0]

In [82]:
mylist

[0, 4, 16, 36, 64, 100]

In [83]:
celcius = [0,10,20,34.5]

fahrenheit = [((9/5)*temp +32) for temp in celcius]

In [84]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [86]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append(((9/5)*temp +32))

In [87]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [88]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [89]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [94]:
mylist = []

for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [95]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [96]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [97]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

# 40. Methods and the Python Documentation

In [4]:
mylist = [1,2,3]

In [5]:
mylist.append(4)

In [6]:
mylist

[1, 2, 3, 4]

In [7]:
mylist.pop()

4

In [8]:
mylist

[1, 2, 3]

In [9]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

# 41. Functions

In [11]:
def name_function():

    '''

    DOCSTRING: Information about the function

    INPUT: no input...

    OUTPUT: Hello  ..

    '''

    print('Hello')

In [12]:
name_function()

Hello

In [13]:
help(name_function)

Help on function name_function in module __main__:

name_function()
    DOCSTRING: Information about the function

    INPUT: no input...

    OUTPUT: Hello  ..

In [14]:
def say_hello(name='NAME'):

    print('hello ' + name)

say_hello('Jose')

hello Jose

In [15]:
say_hello()

hello NAME

In [16]:
def say_hello(name='NAME'):

    return 'hello ' + name

result = say_hello('Zach')

In [17]:
result

'hello Zach'

In [18]:
def add(n1,n2):

    return n1+n2

result = add(20,30)

result

50

In [19]:
# Find out if the word "dog" is in a string?

def dog_check(s):

    if 'dog' in s:

        return True

    else:

        return False

dog_check('My dog ran away')

True

In [20]:
dog_check('My cat ran away')

False

In [21]:
dog_check('Dog ran away')

False

In [22]:
def dog_check(s):

    if 'dog' in s.lower():

        return True

    else:

        return False

dog_check('Dog ran away')

True

In [23]:
'dog' in 'dog ran away'

True

In [24]:
def dog_check(s):

    return 'dog' in s.lower()

dog_check('Dog ran away')

True

In [26]:
# PIG LATIN

# if word starts with a vowel, add 'ay' to end

# if not, put first letter at end then add 'ay'


def pig_latin(word):

    first_letter = word[0]

    # check if vowel

    if first_letter in 'aeiou':

        pig_word = word + 'ay'

    else:

        pig_word = word[1:] + first_letter + 'ay'

    return pig_word

pig_latin('word')

'ordway'

In [27]:
pig_latin('apple')

'appleay'

# 43. args and kwargs

In [28]:
def myfunc(a,b):

    # returns 5% of the sum of a and b

    return sum((a,b)) * 0.05

myfunc(40,60)

5.0

In [29]:
def myfunc(a,b,c=0,d=0,e=0):

    # returns 5% of the sum of a and b

    return sum((a,b,c,d,e)) * 0.05

myfunc(40,60,100)

10.0

In [30]:
def myfunc(*args):

    return sum(args) * 0.05

myfunc(40,60)

5.0

In [31]:
myfunc(40,60,100,1,34)

11.75

In [32]:
def myfunc(*args):

    print(args)

myfunc(40,60,100,1,34)

(40, 60, 100, 1, 34)

In [33]:
def myfunc(*args):

    for item in args:

        print(item)

myfunc(40,60,100,1,34)

40
60
100
1
34

In [34]:
def myfunc(**kwargs):

    print(kwargs)

    if 'fruit' in kwargs:

        print('My fruit of choice is {}'.format(kwargs['fruit']))

    else:

        print('I did not find any fruit here')

myfunc(fruit='apple')

{'fruit': 'apple'}
My fruit of choice is apple

In [35]:
myfunc(fruit='apple',veggie='lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
My fruit of choice is apple

In [36]:
def myfunc(*args,**kwargs):

    print(args)

    print(kwargs)

    print('I would like {} {}'.format(args[0],kwargs['food']))

myfunc(10,20,30,fruit='orange',food='eggs',animal='dog')

(10, 20, 30)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'dog'}
I would like 10 eggs

# Coding Exercise 19: Functions #10: skyline

In [30]:
def myfunc(s):
    lowerstring = s.lower()
    upperstring = s.upper()
    lowletters = list(lowerstring)
    upletters = list(upperstring)
    lower = lowletters[0::2]
    upper = upletters[1::2]
    string = zip(lower[0::], upper[0::])
    newstring = [''.join(i) for i in string] 
    new = ''.join(newstring)
    return new

myfunc('Anthropomorphism')

'aNtHrOpOmOrPhIsM'