# 11. Numbers

In [1]:
2+1

3

In [2]:
2-1

1

In [3]:
2*2

4

In [4]:
3/2

1.5

In [5]:
7/4

1.75

In [6]:
7%4

3

In [7]:
50%5

0

In [8]:
23%2

1

In [9]:
20%2

0

In [10]:
2**3

8

In [11]:
2+10*10+3

105

In [12]:
(2+10)*(10+3)

156

# 13. Variable Assignments

In [13]:
a = 5

In [14]:
a

5

In [15]:
a = 10

In [16]:
a

10

In [17]:
a + a

20

In [25]:
a = a + a

In [26]:
a

640

In [27]:
type(a)

int

In [28]:
a = 30.1

In [29]:
type(a)

float

In [31]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [32]:
my_taxes

10.0

# 14. Strings

In [33]:
'hello'

'hello'

In [34]:
"world"

'world'

In [35]:
'this is also a string'

'this is also a string'

In [36]:
"I'm going on a run"

"I'm going on a run"

In [37]:
print("hello")

hello

In [38]:
"hello world one"
"hello world two"

'hello world two'

In [39]:
print("hello world one")
print("hello world two")

hello world one
hello world two

In [40]:
print("hello \n world")

hello
 world

In [41]:
print("hello \nworld")

hello
world

In [42]:
print("hello \tworld")

hello 	world

In [43]:
len("hello")

5

In [44]:
len("I am")

4

# 15. String Indexing and Slicing

In [1]:
mystring = "Hello World"

In [2]:
mystring

'Hello World'

In [3]:
mystring[0]

'H'

In [4]:
mystring[8]

'r'

In [5]:
mystring[9]

'l'

In [6]:
mystring[-2]

'l'

In [7]:
mystring[-3]

'r'

In [8]:
mystring[-1]

'd'

In [9]:
mystring

'Hello World'

In [10]:
mystring = "abcdefghijk"

In [11]:
mystring

'abcdefghijk'

In [12]:
mystring[2:]

'cdefghijk'

In [13]:
mystring[:3]

'abc'

In [14]:
mystring[3:6]

'def'

In [15]:
mystring[1:3]

'bc'

In [16]:
mystring[::2]

'acegik'

In [17]:
mystring[::3]

'adgj'

In [18]:
mystring[2:7:2]

'ceg'

In [19]:
mystring[::-1]

'kjihgfedcba'

# 16. String Properties and Methods

In [20]:
name = "Sam"

In [21]:
# name[0] = "P" doesn't work because strings are immutable in Python

In [22]:
last_letters = name[1:]

In [23]:
last_letters

'am'

In [24]:
"P" + last_letters

'Pam'

In [25]:
x = "Hello World"

In [28]:
x = x + " it is beautiful outside!"

In [29]:
x

'Hello World it is beautiful outside!'

In [30]:
letter = "z"

In [31]:
letter * 10

'zzzzzzzzzz'

In [32]:
2 + 3

5

In [33]:
"2" + "3"

'23'

In [34]:
x = "Hello World"

In [35]:
x.upper()

'HELLO WORLD'

In [36]:
x

'Hello World'

In [37]:
x.upper

In [38]:
x.lower()

'hello world'

In [39]:
x.split()

['Hello', 'World']

In [40]:
x = "Hi this is a string"

In [41]:
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [42]:
x.split("i")

['H', ' th', 's ', 's a str', 'ng']

In [43]:
print("hello")

hello

# 18. Print Formatting Strings

In [44]:
print("This is a string {}".format("INSERTED"))

This is a string INSERTED

In [45]:
print("The {} {} {}".format("fox", "brown", "quick"))

The fox brown quick

In [47]:
print("The {2} {1} {0}".format("fox", "brown", "quick"))

The quick brown fox

In [48]:
print("The {0} {0} {0}".format("fox", "brown", "quick"))

The fox fox fox

In [49]:
print("The {q} {b} {f}".format(f="fox",b="brown",q="quick"))

The quick brown fox

In [50]:
print("The {f} {f} {f}".format(f="fox",b="brown",q="quick"))

The fox fox fox

In [51]:
result = 100/777

In [52]:
result

0.1287001287001287

In [53]:
print("The result was {}".format(result))

The result was 0.1287001287001287

In [54]:
print("The result was {r}".format(r=result))

The result was 0.1287001287001287

In [55]:
print("The result was {r:1.3f}".format(r=result))

The result was 0.129

In [56]:
print("The result was {r:10.3f}".format(r=result))

The result was      0.129

In [57]:
print("The result was {r:10.5f}".format(r=result))

The result was    0.12870

In [58]:
print("The result was {r:1.5f}".format(r=result))

The result was 0.12870

In [59]:
result = 104.12345

In [60]:
print("The result was {r:1.5f}".format(r=result))

The result was 104.12345

In [61]:
print("The result was {r:1.2f}".format(r=result))

The result was 104.12

In [62]:
name = "Jose"

In [63]:
print("Hello, his name is {}".format(name))

Hello, his name is Jose

In [64]:
print(f"Hello, his name is {name}")

Hello, his name is Jose

In [65]:
name = "Sam"
age = 3

In [66]:
print(f"{name} is {age} years old.")

Sam is 3 years old.

# 20. Lists in Python

In [67]:
my_list = [1,2,3]

In [68]:
my_list = ["STRING",100,23.2]

In [69]:
len(my_list)

3

In [70]:
mylist = ["one", "two", "three"]

In [71]:
mylist[0]

'one'

In [72]:
mylist[1:]

['two', 'three']

In [73]:
mylist

['one', 'two', 'three']

In [74]:
another_list = ["four", "five"]

In [75]:
mylist + another_list

['one', 'two', 'three', 'four', 'five']

In [76]:
mylist

['one', 'two', 'three']

In [77]:
another_list

['four', 'five']

In [78]:
new_list = mylist + another_list

In [79]:
new_list

['one', 'two', 'three', 'four', 'five']

In [80]:
new_list[0] = "ONE ALL CAPS"

In [81]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [82]:
new_list.append("six")

In [83]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [84]:
new_list.append("seven")

In [85]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [86]:
new_list.pop()

'seven'

In [87]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [88]:
popped_item = new_list.pop()

In [89]:
popped_item

'six'

In [90]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [91]:
new_list.pop(0)

'ONE ALL CAPS'

In [92]:
new_list

['two', 'three', 'four', 'five']

In [93]:
new_list = ["a", "e", "x", "b", "c"]
num_list = [4,1,8,3]

In [94]:
new_list.sort()

In [95]:
new_list

['a', 'b', 'c', 'e', 'x']

In [96]:
my_sorted_list = new_list.sort()

In [97]:
type(my_sorted_list)

NoneType

In [99]:
new_list.sort()
my_sorted_list = new_list

In [100]:
my_sorted_list

['a', 'b', 'c', 'e', 'x']

In [101]:
num_list

[4, 1, 8, 3]

In [102]:
num_list.sort()

In [103]:
num_list

[1, 3, 4, 8]

In [104]:
num_list.reverse()

In [105]:
num_list

[8, 4, 3, 1]