# 22. Dictionaries

In [1]:
my_dict = {'key1':'value1','key2':'value2'}

In [2]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [3]:
my_dict['key1']

'value1'

In [4]:
prices_lookup = {'apple':2.99,'oranges':1.99,'milk':5.80}

In [5]:
prices_lookup['apple']

2.99

In [6]:
d = {'k1':123,'k2':[0,1,2],'k3':{'insideKey':100}}

In [7]:
d['k2']

[0, 1, 2]

In [8]:
d['k3']['insideKey']

100

In [9]:
d['k2'][2]

2

In [10]:
d = {'key1':['a', 'b', 'c']}

In [11]:
mylist = d['key1']

In [12]:
mylist

['a', 'b', 'c']

In [13]:
letter = mylist[2]

In [14]:
letter

'c'

In [15]:
letter.upper()

'C'

In [16]:
d

{'key1': ['a', 'b', 'c']}

In [17]:
d['key1'][2].upper()

'C'

In [18]:
d = {'k1':100,'k2':200}

In [19]:
d

{'k1': 100, 'k2': 200}

In [20]:
d['k3'] = 300

In [21]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [22]:
d['k1'] = 'NEW VALUE'

In [23]:
d

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [24]:
d = {'k1':100,'k2':200}

In [25]:
d.keys()

dict_keys(['k1', 'k2'])

In [26]:
d.values()

dict_values([100, 200])

In [27]:
d.items()

dict_items([('k1', 100), ('k2', 200)])

# 24. Tuples

In [28]:
t = (1,2,3)

In [29]:
mylist = [1,2,3]

In [30]:
type(t)

tuple

In [31]:
type(mylist)

list

In [32]:
len(t)

3

In [33]:
t

(1, 2, 3)

In [34]:
t = ('one',2)

In [35]:
t[0]

'one'

In [36]:
t[-1]

2

In [37]:
t = ('a','a','b')

In [38]:
t.count('a')

2

In [39]:
t.index('a')

0

In [40]:
t.index('b')

2

In [41]:
t

('a', 'a', 'b')

In [42]:
mylist

[1, 2, 3]

In [43]:
mylist[0] = 'NEW'

In [44]:
mylist

['NEW', 2, 3]

In [45]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

# 25. Sets

In [46]:
myset = set()

In [47]:
myset

set()

In [48]:
myset.add(1)

In [49]:
myset

{1}

In [50]:
myset.add(2)

In [51]:
myset

{1, 2}

In [52]:
myset.add(2)

In [53]:
myset

{1, 2}

In [54]:
mylist = [1,1,1,1,1,1,2,2,2,2,3,3,3,3]

In [55]:
set(mylist)

{1, 2, 3}

# 26. Booleans

In [56]:
True

True

In [57]:
true

NameError: name 'true' is not defined

In [58]:
False

False

In [59]:
type(False)

bool

In [60]:
1 > 2

False

In [61]:
1 == 1

True

In [62]:
b = None

In [63]:
b

# 27. Files

In [65]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [66]:
#this only works in Jupyter notebooks

In [67]:
myfile = open('myfile.txt')

In [68]:
myfile = open('whoops_wrong.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'whoops_wrong.txt'

In [69]:
pwd

'/Users/kathryn/Documents/ZeroToHero'

In [70]:
myfile = open('myfile.txt')

In [71]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [72]:
myfile.read()

''

In [73]:
myfile.seek(0)

0

In [74]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [75]:
myfile.seek(0)

0

In [76]:
contents = myfile.read()

In [77]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [78]:
myfile.seek(0)

0

In [79]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [80]:
pwd

'/Users/kathryn/Documents/ZeroToHero'

In [81]:
myfile.close()

In [82]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [83]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [84]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Writing my_new_file.txt

In [85]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [86]:
with open('my_new_file.txt',mode='a') as f:
    f.write('FOUR ON FOURTH')

In [87]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

In [88]:
with open('dasdfaka.txt',mode='w') as f:
    f.write('I CREATED THIS FILE!')

In [89]:
with open('dasdfaka.txt',mode='r') as f:
    print(f.read())

I CREATED THIS FILE!

# 31. Python Comparison Operators

In [1]:
2 == 2

True

In [2]:
2 == 1

False

In [3]:
'hello' == 'bye'

False

In [4]:
'Bye' == 'bye'

False

In [5]:
'2' == 2

False

In [6]:
3 != 3

False

In [7]:
4 != 5

True

In [8]:
2 > 1

True

In [9]:
1 < 2

True

In [10]:
2 >= 2

True

In [11]:
4 <= 1

False

# 32. Chaining Comparison Operators

In [12]:
1 < 2

True

In [13]:
2 < 3

True

In [14]:
1 < 2 < 3

True

In [15]:
1 < 2 > 3

False

In [16]:
1 < 2 and 2 > 3

False

In [17]:
1 < 2 and 2 < 3

True

In [18]:
'h' == 'h' and 2 == 2

True

In [19]:
('h' == 'h') and (2 == 2)

True

In [20]:
1 == 1 or 2 == 2

True

In [21]:
100 == 1 or 2 == 2

True

In [22]:
100 == 1 or 2 == 200

False

In [23]:
1 == 1

True

In [24]:
not(1 == 1)

False

In [25]:
not 1 == 1

False

In [26]:
400 > 5000

False

In [27]:
not 400 > 5000

True

# 33. If Elif and Else

In [28]:
if True:
    print('ITS TRUE')

ITS TRUE

In [29]:
if 3>2:
    print('it true')

it true

In [30]:
hungry = True
if hungry:
    print('FEED ME')

FEED ME

In [31]:
hungry = False
if hungry:
    print('FEED ME')
else:
    print('im good')

im good

In [32]:
hungry = True
if hungry:
    print('FEED ME')
else:
    print('im good')

FEED ME

In [33]:
loc = 'Bank'
if loc == 'Auto Shop':
    print('Cars are cool')
else:
    print('I do not know much.')

I do not know much.

In [35]:
loc = 'Bank'
if loc == 'Auto Shop':
    print('Cars are cool')
elif loc == 'Bank':
    print('Money is cool')
elif loc == 'Store':
    print('Welcome to the store!')
else:
    print('I do not know much.')

Money is cool

In [36]:
loc = 'Auto Shop'
if loc == 'Auto Shop':
    print('Cars are cool')
elif loc == 'Bank':
    print('Money is cool')
elif loc == 'Store':
    print('Welcome to the store!')
else:
    print('I do not know much.')

Cars are cool

In [37]:
loc = 'Store'
if loc == 'Auto Shop':
    print('Cars are cool')
elif loc == 'Bank':
    print('Money is cool')
elif loc == 'Store':
    print('Welcome to the store!')
else:
    print('I do not know much.')

Welcome to the store!

In [39]:
name = 'Sammy'

if name == 'Frankie':
    print('Hello Frankie!')
elif name == 'Sammy':
    print('Hello Sammy!')
else:
    print('What is your name?')

Hello Sammy!

# 34. For Loops

# 22. Dictionaries

In [1]:
my_dict = {'key1':'value1','key2':'value2'}

In [2]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [3]:
my_dict['key1']

'value1'

In [4]:
prices_lookup = {'apple':2.99,'oranges':1.99,'milk':5.80}

In [5]:
prices_lookup['apple']

2.99

In [6]:
d = {'k1':123,'k2':[0,1,2],'k3':{'insideKey':100}}

In [7]:
d['k2']

[0, 1, 2]

In [8]:
d['k3']['insideKey']

100

In [9]:
d['k2'][2]

2

In [10]:
d = {'key1':['a', 'b', 'c']}

In [11]:
mylist = d['key1']

In [12]:
mylist

['a', 'b', 'c']

In [13]:
letter = mylist[2]

In [14]:
letter

'c'

In [15]:
letter.upper()

'C'

In [16]:
d

{'key1': ['a', 'b', 'c']}

In [17]:
d['key1'][2].upper()

'C'

In [18]:
d = {'k1':100,'k2':200}

In [19]:
d

{'k1': 100, 'k2': 200}

In [20]:
d['k3'] = 300

In [21]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [22]:
d['k1'] = 'NEW VALUE'

In [23]:
d

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [24]:
d = {'k1':100,'k2':200}

In [25]:
d.keys()

dict_keys(['k1', 'k2'])

In [26]:
d.values()

dict_values([100, 200])

In [27]:
d.items()

dict_items([('k1', 100), ('k2', 200)])

# 24. Tuples

In [28]:
t = (1,2,3)

In [29]:
mylist = [1,2,3]

In [30]:
type(t)

tuple

In [31]:
type(mylist)

list

In [32]:
len(t)

3

In [33]:
t

(1, 2, 3)

In [34]:
t = ('one',2)

In [35]:
t[0]

'one'

In [36]:
t[-1]

2

In [37]:
t = ('a','a','b')

In [38]:
t.count('a')

2

In [39]:
t.index('a')

0

In [40]:
t.index('b')

2

In [41]:
t

('a', 'a', 'b')

In [42]:
mylist

[1, 2, 3]

In [43]:
mylist[0] = 'NEW'

In [44]:
mylist

['NEW', 2, 3]

In [45]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

# 25. Sets

In [46]:
myset = set()

In [47]:
myset

set()

In [48]:
myset.add(1)

In [49]:
myset

{1}

In [50]:
myset.add(2)

In [51]:
myset

{1, 2}

In [52]:
myset.add(2)

In [53]:
myset

{1, 2}

In [54]:
mylist = [1,1,1,1,1,1,2,2,2,2,3,3,3,3]

In [55]:
set(mylist)

{1, 2, 3}

# 26. Booleans

In [56]:
True

True

In [57]:
true

NameError: name 'true' is not defined

In [58]:
False

False

In [59]:
type(False)

bool

In [60]:
1 > 2

False

In [61]:
1 == 1

True

In [62]:
b = None

In [63]:
b

# 27. Files

In [65]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [66]:
#this only works in Jupyter notebooks

In [67]:
myfile = open('myfile.txt')

In [68]:
myfile = open('whoops_wrong.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'whoops_wrong.txt'

In [69]:
pwd

'/Users/kathryn/Documents/ZeroToHero'

In [70]:
myfile = open('myfile.txt')

In [71]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [72]:
myfile.read()

''

In [73]:
myfile.seek(0)

0

In [74]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [75]:
myfile.seek(0)

0

In [76]:
contents = myfile.read()

In [77]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [78]:
myfile.seek(0)

0

In [79]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [80]:
pwd

'/Users/kathryn/Documents/ZeroToHero'

In [81]:
myfile.close()

In [82]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [83]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [84]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Writing my_new_file.txt

In [85]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [86]:
with open('my_new_file.txt',mode='a') as f:
    f.write('FOUR ON FOURTH')

In [87]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

In [88]:
with open('dasdfaka.txt',mode='w') as f:
    f.write('I CREATED THIS FILE!')

In [89]:
with open('dasdfaka.txt',mode='r') as f:
    print(f.read())

I CREATED THIS FILE!

# 31. Python Comparison Operators

In [1]:
2 == 2

True

In [2]:
2 == 1

False

In [3]:
'hello' == 'bye'

False

In [4]:
'Bye' == 'bye'

False

In [5]:
'2' == 2

False

In [6]:
3 != 3

False

In [7]:
4 != 5

True

In [8]:
2 > 1

True

In [9]:
1 < 2

True

In [10]:
2 >= 2

True

In [11]:
4 <= 1

False

# 32. Chaining Comparison Operators

In [12]:
1 < 2

True

In [13]:
2 < 3

True

In [14]:
1 < 2 < 3

True

In [15]:
1 < 2 > 3

False

In [16]:
1 < 2 and 2 > 3

False

In [17]:
1 < 2 and 2 < 3

True

In [18]:
'h' == 'h' and 2 == 2

True

In [19]:
('h' == 'h') and (2 == 2)

True

In [20]:
1 == 1 or 2 == 2

True

In [21]:
100 == 1 or 2 == 2

True

In [22]:
100 == 1 or 2 == 200

False

In [23]:
1 == 1

True

In [24]:
not(1 == 1)

False

In [25]:
not 1 == 1

False

In [26]:
400 > 5000

False

In [27]:
not 400 > 5000

True

# 33. If Elif and Else

In [28]:
if True:
    print('ITS TRUE')

ITS TRUE

In [29]:
if 3>2:
    print('it true')

it true

In [30]:
hungry = True
if hungry:
    print('FEED ME')

FEED ME

In [31]:
hungry = False
if hungry:
    print('FEED ME')
else:
    print('im good')

im good

In [32]:
hungry = True
if hungry:
    print('FEED ME')
else:
    print('im good')

FEED ME

In [33]:
loc = 'Bank'
if loc == 'Auto Shop':
    print('Cars are cool')
else:
    print('I do not know much.')

I do not know much.

In [35]:
loc = 'Bank'
if loc == 'Auto Shop':
    print('Cars are cool')
elif loc == 'Bank':
    print('Money is cool')
elif loc == 'Store':
    print('Welcome to the store!')
else:
    print('I do not know much.')

Money is cool

In [36]:
loc = 'Auto Shop'
if loc == 'Auto Shop':
    print('Cars are cool')
elif loc == 'Bank':
    print('Money is cool')
elif loc == 'Store':
    print('Welcome to the store!')
else:
    print('I do not know much.')

Cars are cool

In [37]:
loc = 'Store'
if loc == 'Auto Shop':
    print('Cars are cool')
elif loc == 'Bank':
    print('Money is cool')
elif loc == 'Store':
    print('Welcome to the store!')
else:
    print('I do not know much.')

Welcome to the store!

In [39]:
name = 'Sammy'

if name == 'Frankie':
    print('Hello Frankie!')
elif name == 'Sammy':
    print('Hello Sammy!')
else:
    print('What is your name?')

Hello Sammy!

# 34. For Loops